@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap);
.vect-input-container {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

button.vect-btn {
    outline: none;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 0;
    margin: 5px;
    font-weight: bold;
}

.vect-controls-container {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
}
* {
    margin: 0;
}

#container {
    width: 100vw;
    min-height: 100vh;
    background: black;
}
.example {
    color: white;
}

.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    transition: all 1s ease-in-out;
}


header {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

header button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background: none;
    color: #db2950;
}

#docs-container {
    width: 40%;
    margin: 10% auto;
}

@media (max-width: 1000px) {
    #docs-container {
        width: 70%;
    }
}

@media (max-width: 700px) {
    #docs-container {
        width: 90%;
    }
}

h1 {
    text-shadow: #db2950 2px 2px;
    text-align: center;
    font-size: 3.5em;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 0.8em;
}

pre {
    padding: 20px !important;
    border-radius: 20px;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

#examples-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out;
}

#examples-container button {
    outline: none;
    cursor: pointer;
}

canvas {
    transition: 1s ease;
    opacity: 0;
}

.fade-up {
    opacity: 1;
}

/*# sourceMappingURL=index.js.css.map*/