@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    transition: all 1s ease-in-out;
}


header {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

header button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background: none;
    color: #db2950;
}

#docs-container {
    width: 40%;
    margin: 10% auto;
}

@media (max-width: 1000px) {
    #docs-container {
        width: 70%;
    }
}

@media (max-width: 700px) {
    #docs-container {
        width: 90%;
    }
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 0.8em;
}

pre {
    padding: 20px !important;
    border-radius: 20px;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

#examples-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
    transition: all 1s ease-in-out;
}

#examples-container button {
    outline: none;
    cursor: pointer;
}

canvas {
    transition: 1s ease;
    opacity: 0;
}

.fade-up {
    opacity: 1;
}